:root {
  --bg: #00B9FF;
  --alinea-bg: #ffffff; 
}

* {
  box-sizing: border-box;
}

body {
  font-family: verdana;
  background-color: var(--bg);
  color: white;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.checked {
  color: orange;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #063E54;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.blue {
  background-color: #063E54;
}

.center {
  text-align: center;
  left: 0;
  right: 0;
    
  margin: auto;
}

.right {
  text-align: right;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  text-align: left;
  margin: auto;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap);

.contact {
  display: grid;
  background: #90ba10;
  font-family: "Source Sans Pro", sans-serif;
}
h2 {
  grid-column: 1/3;
  background: #3a3a3a;
  color: white;
  margin: 0;
  font-size: 1.2em;
}
span {
  display: inline-block;
  padding: 10px;
}
  
label {
  grid-column: 1/3;
  background: #627f09;
  color: white;
  padding: 5px 10px 5px 10px;
  font-size: 1em;
  margin: 10px 10px 0 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  grid-column: 1/3;
  font-family: "Source Sans Pro", sans-serif;
  border: 2px solid #627f09;
  margin: 0 10px 0px 10px;
  font-weight: 400;
  font-size: 1em;
  padding: 0.2em;
}

textarea {
  margin-bottom: 10px;
  min-height: 80px;
}

input[type="submit"] {
  background: #627f09;
  color: white;
  border: 0;
  border-bottom: 3px solid #4d6507;
  border-radius: 0.5em;
  font-size: 1.1em;
  padding: 5px 30px 5px 30px;
  justify-self: start;
  align-self: start;
  margin: 0 10px 10px 10px;
  grid-row: 11 / 12;
}
  /* &:hover,
  &:active {
    position: relative;
    top: 2px;
  } */

p {
  grid-column: 1/3;
  background: #445706;
  margin: 0 10px 10px 10px;
  padding: 5px 10px 5px 10px;
  color: white;
  font-size: 0.85em;
}
a {
  color: yellow;
}

picture {
  justify-self: end;
  grid-row: 11 / 12;
  order: 12;
  margin: 0 10px 10px 10px;
}

@media only screen and (min-width: 568px) {
  .contact {
    max-width: 768px;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
  }
  h2 {
    background: white;
    grid-column: 1 / 13;
  }
  span {
    background: #3a3a3a;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    min-width: calc(50% - 20px);
    text-align: center;
  }

  label {
    grid-column: 1 / 5;
    margin: 0;
    margin-left: 10px;
    text-align: right;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="submit"],
  textarea {
    grid-column: 5 / 13;
    margin: 0;
    margin-right: 10px;
  }

  textarea {
    grid-row: 5 / 9;
  }

  p {
    grid-column: 5 / 13;
    margin: 0;
    margin-right: 10px;
  }

  picture {
    grid-row: 6 / 10;
    grid-column: 1 / 5;
    order: 10;
    margin: 0;
  }

  input[type="submit"] {
    grid-column: 5/13;
    grid-row: 10/11;
    margin-bottom: 10px;
  }
}

#loading{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: #00B9FF;
  color: white;
  opacity: 1;
  transition: 0.5s;
  visibility: visible;
}
#loading.hidden{
  opacity: 0;
  visibility: hidden;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}