<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flex-Zipper-About</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://kit.fontawesome.com/da2bd4a187.js" crossorigin="anonymous"></script>
	<link href="style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css">
</head>
<body class="bg-primary">
<!--- Text Section -->
<div class="container">
    <div class="row padding text-center">
        <div class="col-lg-6">
        <h2 class="text-light">Over het bedrijf Flex-Zipper</h2>
        <p class="text-light">Flex-Zipper is ontstaan door een groep studenten die aan een schoolproject van Jong
            Ondernemen meedoet. De bedenker en CEO van het bedrijf is Pieter Teurlings. Hij heeft het
            bedrijf en het idee bedacht. De naam FlexZipper komt van het woord Flexibel en het Engelse
            woord Zipper wat rits betekent. Zo lopen alle diensten flexibel in elkaar over. Hij heeft tijdens
            de pitch van zijn bedrijf de titel ‘’het beste ondernemers idee’’ gekregen van de ondernemers
            en leraren. Zijn idee was dat mensen elkaar makkelijk kunnen helpen doormiddel van hun
            kennis en talenten. Deze mensen kunnen vervolgens betalen in diensten. Zo wisellen de
            gebruikers hun tijd met elkaar uit om zo elkaar te kunnen helpen. Er komt dus geen geld aan
            te pas.</p>
    </div>
        <div class="col-lg-6">
            <img src="../img/help-info.png" alt="Foto van het logo" width="100%" height="auto">
        </div>
    </div>
</div>
<!--- Text Section -->
<div class="container padding">
    <div class="row padding">
        <div class="col-lg-12 text-light">
            <h2>FAQ</h2>
            <p>Wat zijn voordelen voor het gebruik van Flexzipper? </p>
            <ol>
                <li>Je doet meer kennis op, dat je krijgt hulp van semi professionals  </li>
                <li>Goedaardigheidverklaring met daarin de werkzaamheden en de gewerkte uren  </li>
                <li>Jouw portfolio wordt bij aanvraag van jou, aangeboden bij bedrijven, waar jij wilt stage lopen of gaan werken  </li>
                <li>Uitgebreide CV </li>
                <li>Geholpen worden zonder dat daar kosten aan verbonden zijn  </li>
                <li>Gratis voor de student </li>
                <li>Transparant samenwerken </li>
                <li>Uit je comfortzone, zodat je kunt groeien op gebieden waar je nog niet voldoende ontwikkeld bent</li>
                <li>Je kunt bepalen wat, wanneer en voor wie je dat doet </li>
                <li>Je leert taken uit te voeren voor een opdrachtgever</li>
                <li>Je blijft actueel</li>
            </ol>
            <p>Hoe kan ik nu ruilen als ik wel iets kan bieden, maar niks weet te ontvangen?</p>
            <ol>
                <li>Wanneer je in contact komt met andere gebruikers, is het de bedoeling dat jullie elkaar helpen op het gebied waar je die persoon bij kunt helpen/ ondersteunen. Mochten jullie nou echt geen idee hebben, kun je altijd met je docent in gesprek en kijken of er een mogelijkheid is voor het vrijgave van een studiepunt. </li>
            </ol>
            <p>Hoe kan ik nu ruilen als ik wel iets kan ontvangen, maar weet niet wat ik kan geven?</p>
            <ol>
                <li>Wanneer je in contact komt met andere gebruikers, is het de bedoeling dat jullie elkaar helpen op het gebied waar je die persoon bij kunt helpen/ ondersteunen. Mochten jullie nou echt geen idee hebben, kun je altijd met je docent in gesprek en kijken of er een mogelijkheid is voor het vrijgave van een studiepunt. </li>
            </ol>
            <p>Wat kan ik met mijn portfolio, als ik deze opbouw?</p>
            <ol>
                <li>Goedaardigheidverklaring met daarin de werkzaamheden en de gewerkte uren  </li>
                <li>Jouw portfolio wordt bij aanvraag van jou, aangeboden bij bedrijven, waar jij wilt stage lopen of gaan werken  </li>
                <li>Uitgebreide CV </li>
            </ol>
            <p>Hoeveel uren mag/ moet ik draaien op Flexzipper?</p>
            <ol>
                <li>Het aantal uren dat je draait op Flexzipper zit geen norm aan verbonden. Wij adviseren om wel gebruik te maken van Flexzipper, omdat je jouw eigen cv onderbouwd kunt opbouwen. Dit komt heel sterk over wanneer je met stages en/ of bedrijven gaat praten.</li>
            </ol>
            <p>Wat moet ik doen als ik mijn wachtwoord kwijt ben?</p>
            <ol>
                <li>Dan is het mogelijk om een mail te sturen naar de klantenservice van Flex Zipper. Deze zullen om wat info vragen om jou wachtwoord en account te herstellen.</li>
            </ol>
            <p>Wat moet ik doen als de gebruiker zijn/ haar afspraken niet nakomt? </p>
            <ol>
                <li>Wanneer je samen afspreekt via Flexzipper om samen diensten uit te wisselen, ga je een samenwerking aan. Het is dan ook de bedoeling om elkaar te helpen. Wanneer dit niet soepel verloopt en uiteindelijk de afspraken niet kunt nakomen, zal je contact met de docent en/ of Flexzipper kunnen opnemen en concreet beschrijven wat er aan de hand is. Zo kan er op de juiste wijze naar een oplossing worden gezocht.</li>
            </ol>
            <p>Hoe werkt het?</p>
            <ol>
                <li>Uitlegvideo (Gaan wij laten maken wanneer er meer duidelijkheid is over de website)</li>
            </ol>
            <p>Hoe weet ik of een gebruiker betrouwbaar is?</p>
            <ol>
                <li>Lees de ervaringen van andere gebruikers.  </li>
                <li>Controleer of de advertentie niet in strijd is met onze regels en voorwaarden.</li>
                <li>Controleer of het product niet op de lijst met verboden of verdachte diensten staat.</li>
                <li>Beoordeel de betrouwbaarheid van de verkoper.</li>
            </ol>
        </div>
    </div>
</div>
    

</body>
</html>   

</body>
</html>