<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Portfolio homepage</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/da2bd4a187.js" crossorigin="anonymous"></script>
	<link href="style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css">
</head>
<body class="bg-primary">
<!--Welcome Section-->


<!--- Text Section -->
<div class="container padding pt-5">
    <div class="row padding text-center">
        <div class="col-lg-12">
        <h3 class="text-light">Welkom bij FlexZipper</h3>
        <p class="text-light">Welkom bij www.flexZipper.nl en hartelijk dank voor uw bezoek op de website.

            Deze gebruiksvoorwaarden zijn met ingang van 1 september 2020 van toepassing op ieder gebruik van de website www.flexZipper.nl, zowel via uw computer als via mobiele apparatuur of enige andere software applicatie, op alle diensten die door FlexZipper worden aangeboden en op alle overeenkomsten die FlexZipper aangaat voor het gebruik van de website en de diensten.
            
            Door het bezoeken van onze website gaat u akkoord met deze gebruiksvoorwaarden. FlexZipper raadt iedereen die gebruik maakt van de website of van een van deze diensten (een "Gebruiker") aan, deze gebruiksvoorwaarden vooraf te lezen. FlexZipper kan deze gebruiksvoorwaarden van tijd tot tijd wijzigen. Wij raden u dan ook aan ze regelmatig te lezen.
            
            Door een gebruiker kunnen op de website producten en diensten worden aangeboden of gezocht.
            </p>
    </div>
    </div>
</div>

<div class="container padding">
    <div class="row padding text-center">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-12">
            <h2 class="text-light">Aanvullende voorwaarden voor verschillende diensten van FlexZipper.</h2>
            <p class="text-light">Voor Admarkt, enkele categorieën, waaronder vakmensen en voor betaalde advertenties gelden aanvullende gebruiksvoorwaar den. Deze aanvullende gebruiksvoorwaarden zijn een onderdeel van de gebruiksvoorwaarden, en zullen altijd voorgaan in het geval zij conflicteren met een of meerdere andere gebruiksvoorwaarden. Dit wordt apart gemeld op het moment dat u een dienst waarop deze aanvullende gebruiksvoorwaarden van toepassing zijn, afneemt. </p>
            </div>
    </div>
</div>
<div class="container padding">
    <div class="row padding text-center">
        <div class="col-lg-12">
        <h2 class="text-light">Bescherming van uw privacy</h2>
        <p class="text-light">In onze Privacyverklaring wordt uitgelegd hoe we omgaan met uw persoonlijke gegevens en hoe we uw privacy beschermen wanneer u onze website gebruikt.</p>
    </div>
    </div>
</div>

<div class="container padding">
    <div class="row padding text-center">
        <div class="col-lg-12">
            <h2 class="text-light">Minderjarigen.</h2>
            <p class="text-light">De diensten van FlexZipper zijn slechts toegankelijk voor minderjarige gebruikers indien zij daarvoor toestemming hebben gekregen van hun wettelijke vertegenwoordiger of het in het maatschappelijk verkeer gebruikelijk is dat een bepaalde minderjarige van deze leeftijd de betreffende handeling zelfstandig verricht.</p>
            </div>
    </div>
</div>
<div class="container padding">
    <div class="row padding text-center">
        <div class="col-lg-12">
        <h2 class="text-light">Niet toegestaan gebruik van de website.</h2>
        <p class="text-light">De inhoud van de website mag door de gebruiker niet worden gekopieerd, gereproduceerd en/of openbaar gemaakt worden behoudens RSS feeds voor persoonlijk gebruik en/of nieuwsberichten tot een maximum aantal van 100 advertenties of 100 hyperlinks naar advertenties. Hiermee wordt bijvoorbeeld bedoeld gebruik in persoonlijke weblogs of andere persoonlijke websites. Het is de gebruiker niet toegestaan de inhoud van de website te wijzigen, anders dan beschreven in deze gebruiksvoorwaarden.

            Het is de gebruiker niet toegestaan om persoonsgegevens van gebruikers die een advertentie plaatsen op de website ("Aangeboden taken") (waaronder e-mailadressen en telefoonnummers) te verzamelen en/of adverteerders te benaderen voor het aanbieden van eigen producten en/of diensten.
            
            Op de databank met advertenties rust het databankrecht van FlexZipper. Dit houdt onder meer in dat het de gebruiker niet is toegestaan een substantieel gedeelte van de inhoud van de databank met advertenties op te vragen en te hergebruiken en/of niet-substantiële delen van de inhoud van de databank met advertenties herhaald en systematisch op te vragen en te hergebruiken in de zin van de Databankenwet, tenzij aan de bovengenoemde uitzondering voor persoonlijk gebruik en/of nieuwsberichten is voldaan. Ook is het de gebruiker niet toegestaan om hyperlinks naar advertenties op een andere website weer te geven, tenzij hiervoor voorafgaande schriftelijke toestemming van FlexZipper is verkregen, of tenzij aan de bovengenoemde uitzondering voor persoonlijk gebruik en/of nieuwsberichten is voldaan.
            
            Tenzij FlexZipper daarvoor toestemming heeft gegeven (bijvoorbeeld in het geval van API partners), is het niet toegestaan om advertenties op de website te plaatsen via een geautomatiseerd systeem, of op enige andere wijze dan via de ‘Taak aanmaken’ knop.
            
            Het is niet toegestaan om advertenties namens of in opdracht van derden te plaatsen, tenzij FlexZipper daarvoor toestemming heeft gegeven (bijvoorbeeld in het geval van API partners).
            </p>
    </div>
    </div>
</div>

<div class="container padding">
    <div class="row padding text-center">
        <div class="col-lg-12">
            <h2 class="text-light">Misbruik van de website en de gevolgen hiervan.</h2>
            <p class="text-light w-100">Voor uw veiligheid en om misbruik tegen te gaan worden e-mailadressen afgeschermd door FlexZipper. Uw reactie op een advertentie en eventuele vervolgberichten tussen koper en adverteerder worden via de servers van FlexZipper verzonden. (aanpassen indien geen chatbox)

                Voor het melden van illegale en inbreuk makende advertenties, beledigende inhoud en andere problemen verzoeken wij u gebruik te maken van het Meld aan FlexZipper-Systeem zo kunnen wij er samen voor zorgen dat de site zo schoon en veilig mogelijk blijft. Klachten omtrent oplichting kunt u melden via ons de contactoptie.
                Indien wij aanwijzingen en/of klachten van andere gebruikers ontvangen of om andere redenen van mening zijn dat een bepaalde gebruiker niet handelt in overeenstemming met de wet en/of de gebruiksvoorwaarden en/of de Privacyverklaring, dan kunnen wij – indien wij daartoe aanleiding zien – om veiligheidsredenen en ter bescherming van onze gebruikers onder meer de onderstaande maatregelen treffen. FlexZipper kan deze maatregelen ook treffen indien u op onredelijke wijze gebruik maakt van de website, bijvoorbeeld indien uw gebruik andere gebruikers hindert of de goede werking van de website verstoort:
                
                a. FlexZipper kan de desbetreffende gebruiker uitsluiten van de diensten van FlexZipper of bepaalde functionaliteiten voor deze gebruiker beperken. U kunt hier denken aan bijvoorbeeld schorsing van de account van de betreffende gebruiker, het verwijderen van beoordelingen, het beperkt kunnen plaatsen van advertenties of reacties.
                
                b. FlexZipper kan een of meerdere advertenties van de gebruiker verwijderen zonder restitutie van het door opleiding betaald bedrag.
                
                FlexZipper kan in het kader van de bovengenoemde maatregelen de persoonsgegevens van de betrokkenen verwerken. Indien daartoe aanleiding is kan FlexZipper binnen de grenzen van de wet, de persoonsgegevens van de betrokkenen doorgeven, bijvoorbeeld aan de politie. Hoe dit in zijn werk gaat staat verder omschreven in onze Privacyverklaring.
                </p>
            </div>
    </div>
</div>
<div class="container padding pb-5">
    <div class="row padding text-center">
        <div class="col-lg-12">
        <h2 class="text-light">Wij geven geen garanties.</h2>
        <p class="text-light">Wij kunnen u niet garanderen dat onze diensten altijd zullen voldoen aan uw verwachtingen. Ook kunnen wij niet garanderen dat de website foutloos functioneert en/of dat een continue en/of veilige toegang tot de website of delen daarvan kan worden verkregen.</p>
    </div>
    </div>
</div>
    

</body>
</html>